Body
.floor
.glass-case
    .glass
     -const glassClass =['glass', 'flip']
    div(class=glassClass)  
.case
  img(src="http://i64.tinypic.com/2qxnixk.png" class="case_logo")
  .column-wrap
    .case_power
      .case_power-lit
        img(src="http://i67.tinypic.com/jfuft2.png" class="case_power-pic")
    .case_logo2
    .case_input
      .case_input-lit
    .case_input
      .case_input-lit 
    .case_usb
      .case_usb-lit
    .case_usb
      .case_usb-lit
      
.notice Turn the power on
